= render partial: 'boards/show_map'

= link_to 'Finish turn', phase_finished_board_game_actions_path( @board )

= button_tag 'Combat', { id: 'combat', disabled: true }

#turn_pawn.pawn{ style: turn_pawn_position }
