#board
  = image_tag 'board_cut_small.jpg'
  %svg{ width: 1285, height: 1026, id: 'svg_overmap' }

#hex_info

= hidden_field_tag 'map', @json_map
= hidden_field_tag 'movement_hash', @json_movement_graph
