= render partial: 'boards/show_map'

= link_to 'Finish turn', board_phase_finished_path( @board )

= button_tag 'Combat', { id: 'combat', disabled: true }

#turn_pawn.pawn{ style: turn_pawn_position }
