%h1 Listing boards

%table
  %thead
    %tr
      %th Owner
      %th Opponent
      %th Turn
      %th
      %th
      %th

  %tbody
    - @boards.each do |board|
      %tr
        %td= board.owner.name
        %td= board.opponent.name
        %td= board.turn

%br

= link_to 'New Board', new_player_board_path( @player.id )
