// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hex_info
  //position: absolute
  //display: none
  background-color: white
  border: solid 1px black
  width: 200px
  height: 150px
  float: left
  padding-left: 10px

.pawn_phantom
  position: absolute
  z-index: 3
  opacity: 0.6

.pawn
  position: absolute
  z-index: 2

.pawn_template
  display: none

#board
  width: 1295px
  float: left

#svg_overmap
  position: absolute
  top: 0px
  left: 0px
  z-index: 1
  color: black
//background-color: #bff

#board-area
  position: absolute
  background-color: #dbfbc5
  width: 1600px
  height: 1200px
  top: 40px